{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canadien Hockey League -- my django APP</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="base.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="{% url 'leagues:index' %}" class="brand-logo center"
           style="font-weight: bolder; font-family: 'Lobster Two'; font-size: 45px"> Canadien Hockey League </a>
    </div>
</nav>

<div class="row" style="padding-top: 1em">
    <div class="col l3">
        <!-- Painel -->
        {% if ll %}
            {% for league in ll %}
              <ul class="collection with-header" style="font-weight: bolder">
                <li class="collection-header {{ league.bg_color }}-text {{ league.color }}">
                    <h5>{{ league.get_name_display }}</h5></li>
                <li class="collection-item {{ league.color }}-text {{ league.bg_color }} lighten-2">
                    <div>Standings <a href="{% url 'leagues:standings' league.name %}" class="secondary-content"><i class="material-icons {{ league.color }}-text">send</i></a></div></li>
                <li class="collection-item {{ league.color }}-text {{ league.bg_color }} lighten-2">
                    <div>Schedule<a href="{% url 'leagues:schedule' league.name %}" class="secondary-content"><i class="material-icons {{ league.color }}-text">send</i></a></div></li>
                <li class="collection-item {{ league.color }}-text {{ league.bg_color }} lighten-2">
                    <div>Playoffs<a href="{% url 'leagues:postseason' league.name %}" class="secondary-content"><i class="material-icons {{ league.color }}-text">send</i></a></div></li>
                <li class="collection-item {{ league.color }}-text {{ league.bg_color }} lighten-2">
                    <div>Past Winners<a href="{% url 'leagues:liga' league.name %}" class="secondary-content"><i class="material-icons {{ league.color }}-text">send</i></a></div></li>
              </ul>
            {% endfor %}
                    
        {% endif %}

        {% block chips %}

        {% endblock %}
    </div>

    <div class="col l9">
        {% if l %}
              <nav style="font-weight: bolder"
                   class="{{ l.color }} {{ l.bg_color }}-text">
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo right" style="font-size: 32px"> {{ l.get_name_display }} </a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                      <li><a href="{% url 'leagues:standings' l.name %}">Standings</a></li>
                      <li><a href="">Matches </a></li>
                      <li><a href="">Playoffs</a></li>
                      {% if winner %}
                          <li> C: {{ winner.first.champion }} </li>
                      {% endif %}
                  </ul>
                </div>
              </nav>
        {% endif %}


        {% block mainblock %}
        
        {% endblock %}
    </div>
</div>

</body>
</html>