{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canadien Hockey League -- my django APP</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="{% url 'leagues:index' %}" class="brand-logo center"
           style="font-weight: bolder; font-family: 'Lobster Two'; font-size: 45px"> Canadien Hockey League </a>
    </div>
</nav>

<div class="row" style="padding-top: 1em">
    <div class="col l3">
        <!-- Painel -->
        <div class="row z-depth-4">
            <a class="col l12 waves-effect waves-light btn"
               style="background-color: lightcyan; color: blue; font-weight: bolder" href="{% url 'leagues:liga' 'QMJHL' %}"> QMJHL </a>
        </div>
        <div class="row z-depth-4">
            <a class="col l12 waves-effect waves-light btn"
               style="background-color: dodgerblue; color: azure; font-weight: bolder" href="{% url 'leagues:liga' 'OHL' %}"> OHL </a>
        </div>
        <div class="row z-depth-4">
            <a class="col l12 waves-effect waves-light btn"
               style="background-color: red; color: black; font-weight: bolder" href="{% url 'leagues:liga' 'WHL' %}"> WHL </a>
        </div>
        <div class="row z-depth-4">
            <a class="col l12 waves-effect waves-light btn"
               style="background-color: gold; color: black; font-weight: bolder" href="{% url 'leagues:liga' 'MMC' %}"> Memorial Cup </a>
        </div>

        {% block chips %}

        {% endblock %}
    </div>
    <div class="col l9">
        {% if l %}
              <nav style="font-weight: bolder"
                   class="{{ l.color }} {{ l.bg_color }}-text">
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo right" style="font-size: 32px"> {{ l.get_name_display }} </a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                      <li><a href="{% url 'leagues:standings' l.name %}">Standings</a></li>
                      <li><a href="">Matches </a></li>
                      <li><a href="">Playoffs</a></li>
                      {% if winner %}
                          <li> C: {{ winner.first.champion }} </li>
                      {% endif %}
                  </ul>
                </div>
              </nav>
        {% endif %}


        {% block mainblock %}
        
        {% endblock %}
    </div>
</div>

</body>
</html>