{% extends 'h_leagues/base.html' %}

{% block chips %}
    {% if msg %}
        <div class="chip" style="font-size: larger; font-weight: bolder"> {{ msg }} </div>
        <div class="chip" style="font-size: larger; font-weight: bolder"> {{ result }} </div>
    {% endif %}
{% endblock %}

{% block mainblock %}
    <div class="row">
        <h3>Schedule</h3> <hr>
        {% for matches in nP %}
            <div class="col s6 m6 l6">
                <ul class="collection with-header"
                    style="font-weight: bolder">
                    <li class="collection-header black white-text"> Match {{ matches.id }}
                    <a href="{% url 'leagues:simulation' matches.id %}" class="secondary-content {{ l.color }}-text"> Play <i class="material-icons">send</i></a></li>
                    <li class="collection-item white-text {{ matches.away.t_abr.bg_color }} darken-4"> {{ matches.away.t_abr }} <span class="secondary-content {{ matches.away.t_abr.bg_color }} darken-4 white-text"> {{ matches.away.campaign }} </span>
                    <li class="collection-item white-text {{ matches.home.t_abr.bg_color }} darken-4"> {{ matches.home.t_abr }} <span class="secondary-content {{ matches.home.t_abr.bg_color }} darken-4 white-text"> {{ matches.home.campaign }}  </span>
                </ul>
            </div>
        {% endfor %}

        <br><br> <h3>Played</h3>
        {% for matches in P %}
            <div class="col s6 m6 l6">
                <ul class="collection with-header"
                    style="font-weight: bolder">
                    <li class="collection-header black white-text"> Match {{ matches.id }}
                    <a href="{% url 'leagues:simulation' matches.id %}" class="secondary-content {{ l.color }}-text"> Play <i class="material-icons">send</i></a></li>
                    <li class="collection-item white-text {{ matches.away.t_abr.bg_color }} darken-4"> {{ matches.away.t_abr }} <span class="secondary-content {{ matches.away.t_abr.bg_color }} darken-4 white-text"> {{ matches.a_score }} </span>
                    <li class="collection-item white-text {{ matches.home.t_abr.bg_color }} darken-4"> {{ matches.home.t_abr }} <span class="secondary-content {{ matches.home.t_abr.bg_color }} darken-4 white-text"> {{ matches.h_score }}  </span>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}