{% extends 'h_leagues/base.html' %}

{% block mainblock %}
    {% for conferencia in l.conference_set.all %}
        <h3 style="border-bottom: 2px solid {{ l.bg_color }}"> {{ conferencia.region }} Conference </h3>
        {% for division in conferencia.division_set.all %}
            <table class="striped z-depth-4">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> {{ division.region }} Division </th>
                        <th> Pts </th>
                        <th> G </th>
                        <th> W </th>
                        <th> L </th>
                        <th> OTL </th>
                        <th> SOL </th>
                        <th> GF </th>
                        <th> GA </th>
                        <th> DIFF </th>
                        <th> PCT </th>
                        <th> Streak </th>
                    </tr>
                </thead>
                <tbody>
                {% for qw in division.team_set.all %}
                    <tr>
                        <th> {{ forloop.counter }} </th>
                        <th> {{ qw.city }} {{ qw.name }} </th>
                        <th> {{ qw.rs_clubs_set.last.pts }} </th>
                        <th> {{ qw.rs_clubs_set.last.games }}</th>
                        <th> {{ qw.rs_clubs_set.last.wins }}</th>
                        <th> {{ qw.rs_clubs_set.last.loss }}</th>
                        <th> {{ qw.rs_clubs_set.last.otl }} </th>
                        <th> {{ qw.rs_clubs_set.last.sol }}</th>
                        <th> {{ qw.rs_clubs_set.last.gf }} </th>
                        <th> {{ qw.rs_clubs_set.last.ga }} </th>
                        <th> {{ qw.rs_clubs_set.last.diff }} </th>
                        <th> {{ qw.rs_clubs_set.last.pct }} </th>
                        <th> {{ qw.rs_clubs_set.last.streak }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}

    {% endfor %}

{% endblock %}